/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Open+Sans:wght@400;600&display=swap');
/* Typography */
html {
    font-size: 16px;
}
a {
   color: inherit;
   border-bottom: 2px solid #262626;
   text-decoration: none;
}
a:hover, 
a:active {
   color: inherit;
   border-bottom: 2px solid #ea5077;
   text-decoration: none;
}

p {
   color: #262626;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
}
h2 {
    color: #ea5077;
    font-family: 'Barlow', sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    padding: 1.5em 0 0.6em 0;
}
h3 {
   color: #262626;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   padding: 0.2em 0 0.2em 0;
}

/* Header */
.banner {
    text-align: center;
}
.banner-image {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 711px 400px;
    background-position: center top;
}
.site-title {
    background-color: none
    float: center;
    margin-left: -67px;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 13rem;
    width: 100%;
}
.site-title h1 {
    color: #00a2d6;
    font-family: 'Barlow', sans-serif;
    font-size: 4em;
    font-weight: 300;
    line-height: 1em;
    padding: 0 0.1em;
    text-transform: uppercase;
}
#magenta {
    color: #ea5077;
    font-weight: 500;
}
/* Navigation */
.nav {
    color: #eef0eb;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    padding: 1rem 0 2rem;
    line-height: 1.6em;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav a {
    border-bottom: none;
    color: #eef0eb;
    margin-left: 15px;
}
.nav a:hover,
.nav a:active {
    border-bottom: 2px solid #eef0eb;
}
.nav #inactive {
    border-bottom: 2px solid #eef0eb;
    margin-left: 15px;
}
.nav #home {
    margin-left: 0px;
}
.nav #home-inactive {
    border-bottom: 2px solid #eef0eb;
}
.nav #report {
    float: right;
}
.nav-entries {
     margin-left: 4.6rem;
     width: 87%;
}
/* Body */
.blue {
    background-color: #00a2d6;
}
.grey {
    background-color: #eef0eb;
    padding-bottom: 5rem;
}
.yellow {
    background-color: #ffc63d;
    padding-bottom: 4rem;
}
.space3 {
    height: 3em;
}
.space5 {
    height: 5em;
}
.about h3,
.credits h3 {
    color: white;
    font-size: 1.4em;
    padding: 1.2em 0 0.2em 0;
}
.text h5 {
    color: #555;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1.4em 0 0.2em 0;
    width: 50%;
}
.text h5 a {
    color: #555;
    border-bottom: 2px dotted #69c3aa;
}
.text h5 a:hover {
    color: #555;
    border-bottom: 2px solid #69c3aa;
}
.text p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
#lead {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0.4em 0 0.8em 0;
}
/* Content Blocks */
#mapping-actors {
    padding: 0 0 4rem;
}
#mapping-actors h2 {
    color: #eef0eb;
}
#mapping-actors-desc {
    padding-top: 8rem;
}
#case-studies h2 {
    padding: 1.5em 0 0.2em 0;
}
#case-studies-entries {
    text-align: center;
}
#literature-surveys h2 {
    color: #00a2d6;
    padding: 1.5em 0 0.2em 0;
}
#lit-survey-desc p {
    margin: 1em 0 0 0;
}
#case-studies-entries img {
    padding-bottom: 1em;
}
/* Single Page - Text */
.text h3 {
    font-size: 1.8rem;
}
.text h4 {
    font-size: 1.2rem;
}
.wide-image {
    margin: 3em 0;
}
/* Single Page - Meta */
.meta {
    margin-top: 0.3em;
}
.meta p {
    color: black;
    line-height: 1.8em;
}
.meta p #grey {
    color: grey;
}
.meta a {
    color: black;
    border-bottom: none;
    text-decoration: none;
}
.meta a:active,
.meta a:hover {
    border-bottom: 2px solid #ea5077;
}
/* Footer */
.footer {
    background-color: #00a2d6;
    padding-bottom: 5em;
}
.footer h3 {
    color: #eef0eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 2.4em 0 1.2em 0;
    text-transform: uppercase;
}
.footer p {
    color: #eef0eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}
.footer a {
    border-bottom: 2px solid #eef0eb;
    color: inherit;
}
.footer a:hover,
.footer a:active {
    border-bottom: 2px solid #ea5077;
}
.image-link {
    border-bottom: 0px;
}
.image-link:hover {
    border-bottom: 0px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 200px;
    width: 100%;
}
.logo img {
   clear: both;
   float: center;
}
.icons {
    margin-top: 1em;
    text-align: center;
}
.icons a,
.icons a:hover {
    border-bottom: 0px;
    color: #eef0eb;
}
.fa-twitter {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
}
.fa-twitter:hover {
    color: #ea5077;
}
.fa-instagram {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-instagram:hover {
    color: #ea5077;
}
.fa-youtube {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-youtube:hover {
    color: #ea5077;
}
/* Old code - To be deleted */
.media p {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
.media a {
    border-bottom: none; 
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.media a:hover,
.media a:active {
    border-bottom: 2px solid #69c3aa; 
    color: #333;
}
.media-mobile {
    display: none;
}
.media-narrow {
    display: none;
}
.media-wide {
    display: block;
}
.list-governingID {
    padding-top: 0.5em;
}
.list h1 {
    color: #efefef;
    font-size: 2.8em;
    font-style: italic;
    font-weight: 500;
    margin-top: 1em;
}
.list h3 {
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1.2em 0 1em 0;
    text-transform: uppercase;
}
.list p {
    border-top: 1px solid #333;
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.8em;
    text-transform: uppercase;
}
.list a {
    border-bottom: none; 
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}
.list a:hover,
.list a:active {
    border-bottom: 2px solid #69c3aa; 
    color: #333;
}
.slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slide{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
}
.maps {
    background-color: #69c3aa;
    color: black;
    position: absolute;
    padding: 1rem;
    width: 75%;
    float: right;
}
.maps h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: 700;
}
.maps p {
    font-size: 0.9em;
    padding: 1rem;
}
.maps-desc h1 {
    margin-bottom: 0em;
}
/* CSS changes for tablet/mobile screens */
@media screen and (max-width: 1200px) {
    .text h5 { width: 75%; }
}
@media screen and (max-width: 1000px) {
    .iis-caption-content p { display: none; }
    .text h5 { width: 90%; }
}
@media screen and (max-width: 800px) {
    .contributors h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .icons {margin-top: 0em; padding-top: 1em; margin-bottom: 1.5em;}
    .ideal-image-slider {display: none;}
    .list {margin-left: -1em;}
    .logo { float: none; margin-top: 3em;}
    .media-mobile {display: none;}
    .media-narrow {display: block;}
    .media-wide {display: none;}
    .media p {margin-left: -1em;}
    .site-desc {top: 14rem;}
    .site-title {top: 5rem;}
    .team h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .text {margin-left: -1em;}
    .text h1 {margin-top: 1em;}
    .ui.container {width: auto !important; margin-left: 1.2em !important; margin-right: 1.2em !important;}
    #maps {padding-left: 1.2em;}
    #notOnMobile {display: none;}
}
@media screen and (max-width: 499px) {
    .banner-image {height: 300px;}
    .contributors h1 {padding-top: 0em; padding-bottom: 0em;}
    .footer {margin-top: 1em; text-align: center;}
    .list {margin-left: 0em;}
    .logo { float: none; margin-top: 0em;}
    .media-mobile {display: block;}
    .media-narrow {display: none;}
    .media-wide {display: none;}
    .media p {margin-left: 0em;}
    .site-desc {top: 18rem; width: 68%;}
    .site-title h1 {font-size: 2.8em;}
    .site-title h2 {font-size: 2.5em;}
    .site-title {margin-right: 2em; top: 6.5rem;}
    .space5 {height: 3em;}
    .team h1 {padding-top: 0em; padding-bottom: 0em;}
    .text {margin-left: 0em;}
    .text h1 {margin-top: 1.2em;}
    #maps {padding-left: 0em;}
}
